.answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 0 1rem;
}

.answer {
  font-family: inherit;
  padding: 0.2rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.selected,
.not-selected {
  color: inherit;
}

.selected {
  background: #d6dbf5;
  border: 1px solid #d6dbf5;
}

.not-selected {
  background: transparent;
  border: 1px solid #4d5b9e;
}

.correct {
  background: #94d7a2;
  border: 1px solid #94d7a2;
}

.not-selected-2 {
  color: #b0b7d8;
  border: 1px solid #b0b7d8;
  background: transparent;
}

.incorrect {
  background: #f8bcbc;
  border: 1px solid #f8bcbc;
  color: #969ecb;
}
