html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Karla, sans-serif;
  background: #f5f7fb;
  color: #293264;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  min-height: 100vh;
}

.blob1,
.blob2 {
  width: 25%;
  position: absolute;
  z-index: -1;
}

.blob1 {
  right: 0;
}

.blob2 {
  bottom: 0;
}

@media (max-width: 700px) {
  .blob2 {
    width: 40%;
  }
}
